@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Roboto:wght@400;500");

// Theme Variables
$dark-blue: #06152d;
$dark-purple: #5d17eb;
$light-purple: #a289fe;
$hot-pink: #ed07c9;

//Font Variables
$merriweather: 'Merriweather Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
